*
  box-sizing border-box

body
  font-family 'Segoe UI', 'Lucida Grande', Ubuntu, Arial, sans-serif
  font-size 5vw
  line-height 1

#hero
  color $hero-text-color
  text-align center
  margin 10vh 0 0

  h1,
  h2 span
    opacity 0
    animation-name fade-in

  .branding
    h1
      animation-delay 800ms
      margin .5em 0
      font-size 1.5em

    h2
      margin 0 0 1em

      span
        animation-delay 1.1s

        &:first-child
          animation-delay 1s

        &:last-child
          animation-delay 1.2s
