extends ../layout

block content
  include ../wnw-logo.svg
  div.branding
    h1.anim wizards @ work
    h2
      span.anim magically
      | &nbsp;
      span.anim shifting
      | &nbsp;
      span.anim paradigms
