$fill-1 = #4527A0
$fill-2 = #DAD4EC
$fill-3 = #8F7DC6

svg#hat
  .p0
    fill url(#g1)
  .p1
    fill url(#g2)
  .p2
    fill url(#g3)
  .p3
    fill url(#g4)
  .p4
    fill $fill-1
  .p5
    fill $white
  .p6
    fill url(#g5)
  .p7
    fill url(#g6)
  .p8
    fill url(#g7)
  .p9
    fill url(#g8)
  .p10
    fill $fill-2
  .p11
    fill url(#g9)
  .p12
    fill url(#g10)
  .p13
    fill url(#g11)
  .p14
    fill url(#g12)

  stop[offset="0"]
    stop-color $fill-1
  stop[offset="1"]
    stop-color $fill-3
